.yd-navbar
	background:-webkit-repeating-linear-gradient(-90deg,#f5f5f5 0,#fff 50%,#fff 50%,#f5f5f5 100%) !important
	height:0.5rem !important
	.yd-navbar-center-box
		height:0.5rem !important
		.yd-navbar-center-title
			font-size:0.17rem !important
			color:#000 !important
	.yd-navbar-item
		font-size:0.15rem
		a
			height:0.5rem
			line-height:0.5rem
			.yd-back-icon:before
				font-size:0.18rem
		.btn
			width: 0.2rem 
			height: 0.2rem 
			background:none
			background: url(../../../static/images/icon-shuaixuan.png) no-repeat 
			background-size: contain
			padding:0rem
			margin-left:0
.showDate
	width:100% !important
	font-size:0.13rem
	height:0.35em
	line-height:0.35rem
	background:#fff
	.el-input__inner
		text-align:center
		height:0.35rem
		border-radius:0px
	.el-input__icon
		height:0.35rem
		width:0.35rem
		font-size:0.14rem
.noData
	text-align:center
	padding-top:0.15rem
	margin-top:0.15rem
	display:none
	font-size:0.14rem
.search
	.search-content
		.yd-mask
			transition:all 0.5s ease
		.yd-popup
			background:#eee
			width:70% !important
			transition:all 1s ease
			.search-p1
				height:0.3rem
				line-height:0.3rem
				font-size:0.14rem
				padding-left:0.1rem
				margin-top:0.5rem
			.search-p2
				font-size: 0.14rem
				height: 0.3rem
				padding-left: 0.1rem
				line-height: 0.3rem
				margin-top:0rem
				//margin-bottom:-0.5rem
			.showDate
				width:100%
				font-size:0.13rem
				height:0.35rem
				line-height:0.35rem
				background:#fff
				.el-input__inner
					text-align:center
					height:0.35rem
					border-radius:0px
				.el-input__icon
					height:0.35rem
					width:0.35rem
					font-size:0.14rem
			.selRadio
				font-size:0.13rem
				margin-top:0.1rem
				p
					margin-top:0rem
					.yd-radio
						width:100%
						height:0.35rem
						line-height:0.35rem
						background:#fff
						border-bottom:1px solid #ccc
						padding:0rem 0.1rem
						.yd-radio-icon
							vertical-align: middle
							width:0.18rem !important
							height:0.18rem !important
							color:#20a0ff !important
							i
								width:0.09rem !important
								height:0.09rem !important
						.yd-radio-text
							font-size:0.13rem
							float:right
			.selectBtn
				font-size:0.13rem
				margin-top:0.1rem
				height:0.35rem
				line-height:0.35rem
				background:#20a0ff
.showLoad
	text-align:center
	margin-top:0.1rem
	font-size:0.1rem
  img
		height:0.2rem
		width:0.2rem
	p
		margin-top:0.051rem
.el-picker-panel
	min-width:2.24rem
	.el-date-picker__header-label
		font-size: 0.14rem
		padding:0px
		line-height:0.22rem
	.el-date-picker__header-label:nth-child(1)
		margin-right:0.05rem
	.el-picker-panel__icon-btn
		font-size: 0.14rem
	.el-picker-panel__content
		margin:0.1rem 0rem
		.el-date-table
			th
				font-size:0.12rem
			td
				height:0.32rem
				width:0.32rem
				line-height:0.32rem
			.prev-month
				font-size:0.12rem
			.available,.disabled
				width:0.32rem
				height:0.32rem
				font-size:0.12rem
				line-height:0.32rem
			.next-month
				font-size:0.12rem
		.el-month-table,.el-year-table
			font-size:0.11rem
			td
				.cell
					display:inline
.yd-dialog-white-mask
	.yd-toast-none-icon
		height:0.4rem
		padding-top:0rem
		.yd-toast-content
			height:0.3rem
			line-height:0.3rem
			margin-top:0rem
			padding:0.05rem 0.186rem
			font-size:0.13rem
			color:#fff
.header
	height:100%
	position:relative
	z-index:50
	background:#f5f5f5
	.yd-flexview
		height:100%
		.yd-navbar
			position:fixed
			left:0
			top:0
			z-index:10
			width:100%
		.yd-scrollview
			//overflow:visible	
			margin-top:0.5rem
			height:100%
			.baobiaoList
				box-sizing:border-box
				background:#f5f5f5
				.listItem
					float:left
					padding:0.05rem
					width:100%
					border-bottom: 1px solid #ccc
					position:relative
					.yd-list-img
						padding:0rem
					.yd-list-mes
						background:#f5f5f5
						.yd-list-title
							height:0rem
						.yd-list-other
							display:block
							.listItem-left,.listItem-right,.finTime
								float: left
								p
									height:0.2rem
									line-height:0.2rem
									margin-top:0rem
									span
										color:#333
									b
										margin-left:0.08rem
										color:#0000cf
							.listItem-right
								margin-left: 0.1rem
							.finTime
								height:0.2rem
								line-height:0.2rem
								margin-top:0rem
								span
									color:#333
								b
									margin-left:0.08rem
									color:#0000cf
							.icon-right
								position:absolute
								right: 0.05rem
								top: 50%
								margin-top: -0.08rem
								font-size: 0.16rem	
				.yd-pullrefresh-dragtip
					z-index:0
				.yd-list-loading
					height:0.33rem
					img
						height:0.33rem
				.yd-list-donetip
					font-size:0.12rem
		.yd-scrollview:after
			height:0px
.details
	font-size:0.12rem
	.yd-tab-box
		margin-bottom:0.05rem
		.yd-tab-nav
			.yd-tab-nav-item
				background:#f5f5f5
				font-size:0.14rem
				line-height:0.35rem
			.yd-tab-nav-item:after
				border-color:#999
			.yd-tab-active
				color:#20a0ff !important
				border-bottom:2px solid #20a0ff
			.yd-tab-active:before
				height:0px
.yd-tabbar
	font-size:0.12rem !important
	position: fixed !important
	left: 0
	bottom: 0
	z-index: 10
	width: 100%
	padding:0.06rem 0.05rem
	.yd-tabbar-icon
		height: 0.2rem
		i
			font-size: 0.22rem !important;
	.yd-tabbar-txt
		margin-top:0.05rem
.cellForm
	.yd-cell-box
		margin-bottom:0rem
		.yd-cell
			background:none
			padding:0 0.24rem
			.yd-cell-item
				padding:0
				border-bottom:1px solid #d9d9d9
				.yd-cell-left
					font-size:0.15rem
					.yd-icon-ucenter-outline
						font-size:0.3rem !important
						color:#eee
					img
						width:0.3rem
						height:0.3rem
				.yd-cell-right
					font-size:0.13rem
					min-height:0.4rem
					padding:0
					.yd-input
					input
						height:0.4rem
						font-size:0.18rem
						line-height:0.4rem
						font-weight:bold
						margin:0
						padding:0
					.yd-input-password,.yd-input-clear
						height:0.4rem
					.yd-input-clear:after
						color:#fff
						font-size:0.24rem
					.yd-input-error:after,.yd-input-success:after
						font-size:0.28rem
					.yd-input-password:after
						font-size:0.28rem
						color:#eee
			.yd-cell-item:not(:last-child):after
				border:none
		.yd-cell:after
			border:none
    .result
			color:red
			font-size:0.14rem
			padding-left:0.3rem
			height:0.14rem
	.yd-btn
		height:0.4rem
		line-height:0.4rem
		font-size:0.16rem
		width:calc(100% - 0.48rem)
		box-sizing:border-box !important
		font-weight:bold
		margin-left:0.24rem
.footer
	position:fixed
	left:0
	bottom:0
	height:0.45rem
	width:100%
	background:#fff
	display:none
	li
		float:left
		width:50%
		text-align:center
		padding-top:0.04rem
		i
			font-size:0.24rem
			color:#666
		p
			color:#666
			margin-top:0.02rem
.yd-confirm
	font-size:0.15rem
	.yd-confirm-hd
		padding:0.15rem 0.2rem 0.1rem 0.2rem
		text-align:center
	.yd-confirm-bd
		font-size:0.12rem
		line-height:0.2rem
	.yd-confirm-ft
		line-height:0.4rem
		a
			color:#20a0ff
			border-top:1px solid #20a0ff
// .loginCover
// 	position:absolute
// 	top:0
// 	left:0
// 	height:100%
// 	width:100%
// 	background:url('../../../static/images/icon-login.png') no-repeat
// 	background-size:100% 100%
// 	display:block
// 	z-index:100